.App,
.App .SlideShow,
.App .SlideList,
.App .SlideItem
{
  height: 100%;
}
.App .SlideShow
{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  line-height: 0;
}
.App .SlideList
{
  position: relative;
  transition: left .7s;
}
.App .SlideItem
{
  display: inline-block;
  background: center center / cover no-repeat;
  width: 100%;
}
