.App
{
  height: 100%;
}
.App .Header
{
  position: absolute;
  z-index: 1;
  padding: 0 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.App .Header h1
{
  font-size: 2.4rem;
}
.App .Header ul
{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
  list-style: none;
  width: fit-content;
}
.App .Header li
{
  transition: background-color .2s;
}
.App .Header li:not(:last-child)
{
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.App .Header li:hover
{
  background-color: rgba(0, 0, 0, .2);
}
.App .Header a[href]
{
  color: #fff;
  text-decoration: none;
}
.App .Header li a[href]
{
  display: block;
  padding: 10px;
}
