.Blog
{
  background-color: #eee;
  overflow: auto;
}
.Blog article
{
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.Blog h3
{
  margin-top: 10px;
}
.Blog time
{
  font-size: .8rem;
}
.Blog p
{
  font-size: .9rem;
}
.Blog img
{
  width: 100%;
}
@media (min-width: 900px)
{
  .Blog
  {
    padding: 20px;
  }
  .Blog article
  {
    max-width: 900px;
  }
}
