.Header
{
  position: absolute;
  z-index: 1;
  padding: 0 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 5%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
}
.Header h1
{
  width: 0;
  font-size: 2.4rem;
  white-space: nowrap;
}
.Header ul
{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
  list-style: none;
  width: fit-content;
}
.Header li
{
  transition: background-color .2s;
}
.Header li:not(:last-child)
{
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.Header li:hover
{
  background-color: rgba(0, 0, 0, .2);
}
.Header a[href]
{
  color: #fff;
  text-decoration: none;
}
.Header li a[href]
{
  display: block;
  padding: 10px;
}
