@import 'fontello/css/lddesign.css';

html
{
  height: 100%;
}
body
{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}
body,
body #root
{
  height: 100%;
}
a[href]
{
  outline: none;
  color: #00a;
}
.icon::before
{
  margin: 0;
}
