.SlideShow
{
  width: 100%;
  overflow: hidden;
  /*line-height: 0;*/
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.SlideShow,
.SlideShow .SlideList,
.SlideShow .SlideItem
{
  height: 100%;
}
.SlideShow .SlideList
{
  position: relative;
  white-space: nowrap;
}
.SlideShow .SlideItem
{
  display: inline-block;
  background: center center / cover no-repeat;
  width: 100%;
  transition: left .7s;
  position: absolute;
}
.SlideShow .SlideControl
{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px 10px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}
.SlideShow .SlideCounter
{
  opacity: .7;
  width: 100px;
  text-align: center;
  user-select: none;
}
.SlideShow button
{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: .7;
  color: inherit;
  font-size: 3rem;
  text-shadow: inherit;
  outline: none;
}
.SlideShow button:hover
{
  opacity: 1;
}
.SlideShow h2
{
  position: absolute;
  font-size: .8rem;
  z-index: 1;
  margin: 0;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 100%);
  /*text-align: center;*/
}
.SlideShow.homepage h2
{
  display: none;
}
@media (min-width: 500px)
{
  .SlideShow h2
  {
    font-size: 1rem;
  }
}
